*.pdf
cris_run_measurements.json
david_run_measurements.json
measurement_results.csv
predicteddepthpredictedkeypoints-deepfashion2-full-output.csv
predicteddepthpredictedkeypoints-deepfashion2-output.csv
predicteddepthtruekeypoints-deepfashion2-full-output.csv
predicteddepthtruekeypoints-deepfashion2-output.csv
Sideseam_Metrics (1).csv
Waistline_Metrics.csv
waistline_sideseam_measurements.csv
GarmentMeasurementDataset (2)/
processing.log
Prod-Thesis/
drhart-cris-thesis-code/potentialoutofdate-argparse-files/